<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./aboutStyles.css">
</head>
<body>
    <div class="introduction">
        <h1>About Us</h1>
        <h5>We are Begining our New Journey And we are trying to get you most of the features</h5>
    </div>
    
</body>
</html>